html, body {
  font-family: 'Biaodian Pro Sans GB', 'Microsoft YaHei', "Noto Sans CJK TC", "Noto Sans CJK SC", 'Helvetica Neue', Helvetica, Arial, 'Han Heiti GB', sans-serif;
  -webkit-app-region: drag;
}
body {
  margin: 0;
  height: 600px;
}

.bg {
  padding: 15px;
  height: 100%;
  width: 100%;
  background-color: #faf8ef;
}
