html, body, button {
  font-family: 'Biaodian Pro Sans GB', 'Microsoft YaHei', "Noto Sans CJK TC", "Noto Sans CJK SC", 'Helvetica Neue', Helvetica, Arial, 'Han Heiti GB', sans-serif;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
body {
  margin: 0;
  height: 600px;
}
button {
  width: 110px;
  height: 40px;
  font-size: 15px;
  color: #fff;
  background-color: #ee9458;
  border: none;
  border-radius: 5px;
  outline:none
}
a, button {
  -webkit-app-region: no-drag;
}
a, button {
  transition: all .3s ease;
  cursor: pointer;
}
a:hover {
  text-shadow: 1px 1px 3px rgba(34,34,34,1);
}
button:hover {
  box-shadow: 1px 1px 3px rgba(34,34,34,0.6);
}
a:active {
  text-shadow: -1px -1px 1px rgba(34,34,34,0.4);
}
button:active {
  box-shadow: -1px -1px 1px rgba(34,34,34,0.4);
}

/* 布局 */
.container {
  margin: 10px;
  height: 600px;
  width: 400px;
  background-color: #faf8ef;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.toolbar {
  padding: 0 15px;
  height: 30px;
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(34,34,34,0.5);
  background-color: rgba(237, 153, 91, 0.8);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.toolbar > span {
  position: relative;
  float: right;
}
.toolbar .minimize {
  position: absolute;
  right: 26px;
  top: 4px;
}

.frame {
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.baseinfo {
  position: relative;
  height: 170px
}
.baseinfo .score, .baseinfo .best {
  position: absolute;
  top: 0;
  height: 70px;
  width: 110px;
  color: #eee4d5;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  background-color: #bbada0;
  border-radius: 5px;
}
.baseinfo .score {
  left: 136px;
}
.baseinfo .best {
  right: 0;
  font-size: 14px;
}
.baseinfo button[name="start"] {
  position: absolute;
  top: 80px;
  left: 136px;
}
.baseinfo button[name="reset"] {
  position: absolute;
  top: 80px;
  right: 0;
}
.baseinfo > div > p {
  color: #fff;
  font-size: 26px;
  margin-top: -12px;
}
.baseinfo > h3 {
  margin-top: 8px;
  padding-left: 6px;
  color: #776e65;
}
.gamepanel-bg {
  position: relative;
  padding: 7.5px;
  padding-bottom: 12px;
  height: 350px;
  background-color: #bbafa1;
  border-radius: 5px;
}
.gamepanel {
  position: relative;
  margin-top: -369px;
  padding: 7.5px;
  height: 350px;
}
/* 布局结束 */

/* 方块样式 */
[class^="tile"] {
  display: inline-block;
  height: 72px;
  width: 72px;
  line-height: 72px;
  font-size: 25px;
  text-align: center;
  font-weight: 800;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 5px;
  overflow:hidden;
}

div.tile-goal {
  height: 120px;
  width: 120px;
  font-size: 34px;
  line-height: 120px;
}

.gamepanel [class^="tile"], .gamepanel-bg [class^="tile"] {
  -webkit-app-region: no-drag;
  margin: 6.5px;
}

.n-2 {
  font-size: 38px;
  color: #776e65;
  background-color: #eee4da;
}
.n-4 {
  font-size: 38px;
  color: #807060;
  background-color: #ede0c8;
}
.n-8 {
  font-size: 38px;
  background-color: #f2b179;
}
.n-16 {
  font-size: 38px;
  background-color: #f59563;
}
.n-32 {
  font-size: 38px;
  background-color: #f67c5f;
}
.n-64 {
  font-size: 38px;
  background-color: #f65e3b;
}
.n-128 {
  background-color: #edcf72;
}
.n-256 {
  background-color: #edcc61;
}
.n-512 {
  background-color: #edc850;
}
.n-1024 {
  background-color: #edc53f;
}
.n-2048 {
  background-color: #edc22e;
}
.n-4096 {
  background-color: #fd3d3a;
}
.n-8192 {
  background-color: #fe1f22;
}
.n-16384 {
  font-size: 20px;
  background-color: #e20000;
}
/* 方块样式结束 */

/* 方块位置 */
.tile[x][y] {
  transition: all .2s ease;
  position: absolute;
}
